<nav class="navbar navbar-expand-lg navbar-dark main-nav">
  @if (!isSmallScreen) {
  <div class="nav-languaje-div nav-main-item">

    <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Idioma:
      ({{currentLanguage}})</a>
    <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdown04">
      <span class="dropdown-item" (click)="setLanguage('en')">English</span>
      <span class="dropdown-item" (click)="setLanguage('es')">Español</span>
    </div>
  </div>

  <div class="nav-track-div nav-main-item navbar-nav">
    <div class="nav-item">
      <a class="nav-link" routerLink="/AbilityDex">AbilityDex</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/MoveDex">MoveDex</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/HomeDex">HomeDex</a>
    </div>
  </div>

  <div class="nav-title-div nav-main-item">
    Track&Team
  </div>

  <div class="nav-track-div nav-main-item navbar-nav">
    <div class="nav-item">
      <a class="nav-link no-link">TeamMaker</a>
    </div>
    <div class="nav-item">
      <a class="nav-link no-link">Teams</a>
    </div>
    <div class="nav-item">
      <a class="nav-link" routerLink="/TypeChart">TypeChart</a>
    </div>
  </div>

  <div class="nav-impexp-div nav-main-item">
    <a class="nav-link" routerLink="/ImportExport">Import/Export</a>
  </div>
  }@else {
    <div class="nav-languaje-div nav-main-item">

      <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">({{currentLanguage}})</a>
      <div class="dropdown-menu custom-dropdown" aria-labelledby="dropdown04">
        <span class="dropdown-item" (click)="setLanguage('en')">English</span>
        <span class="dropdown-item" (click)="setLanguage('es')">Español</span>
      </div>
    </div>

    <div class="nav-title-div nav-main-item">
      Track&Team
    </div>

    <div class="nav-impexp-div nav-main-item">
      <a class="nav-link" routerLink="/ImportExport">Import/Export</a>
    </div>

    <div class="nav-dropdown-button"><img src="/assets/symbols/arrow.png" [class.rotated]="isRotated" (click)="toggleDropdown()" alt=""></div>

    @if (navDropdown) {
    <div class="overlay-dropdown">
      <div class="dropdown-content">
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown" (click)="toggleDropdown()" routerLink="/AbilityDex">AbilityDex</a>
        </div>
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown" (click)="toggleDropdown()" routerLink="/MoveDex">MoveDex</a>
        </div>
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown" (click)="toggleDropdown()" routerLink="/HomeDex">HomeDex</a>
        </div>
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown no-link">TeamMaker</a>
        </div>
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown no-link">Teams</a>
        </div>
        <div class="nav-item-dropdown">
          <a class="nav-link-dropdown" (click)="toggleDropdown()" routerLink="/TypeChart">TypeChart</a>
        </div>
      </div>
    </div>
  }
  }
</nav>

<div class="route">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p>Página creada por: <a href="https://x.com/_RayoDaniel">_RayoDaniel</a></p>

  </div>
</footer>
<!-- <router-outlet /> -->