.page-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    max-height: 73vh;
}

/* Left Section */

.type-list-div {
    flex: 0 0 20%;
    max-width: 300px;
    height: 80vh;
    max-height: 80vh;
    border: rgb(5, 57, 66) 3px solid;
    background-color: rgba(145, 170, 156, 0.6);
}

.type-details-div {
    width: 100%;
    height: auto;
    background: rgba(19, 171, 117, 0.2);
}

.type-list-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 57, 66);
    text-align: center;
    font-size: 1.2em;
    padding: 2px;
    height: auto;
}

.main-type-div {
    height: 15vh;
    width: 100%;
}

.main-type-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    background-color: rgb(5, 57, 66);
}

.damage-relation-img {
    width: 20px;
    aspect-ratio: 1/1;
}

.main-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10.5vh;
    margin-top: 2px;
    margin-bottom: 2px;
}

.main-type img {
    width: 9vh;
    height: 9vh;
    border: 2px solid rgb(5, 57, 66);
    border-radius: 50px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.damage-relation-item {
    width: 100%;
}

.damage-relation-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
    background-color: rgb(5, 57, 66);
}

.damage-relation-item-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 66px;
    margin: 3px;
}

.type-selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 10%;
    min-width: 40px;
}

.type-selected-item img {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 30px;
    aspect-ratio: 1/1;
}


/* Main Container */

.type-maker-container {
    display: flex;
    justify-content: center;
    width: 82%;
    min-width: 300px;
    height: 80vh;
    max-height: 80vh;
}

.type-maker-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    max-height: 80vh;
    background-color: rgb(5, 57, 66);
    border: 3px solid rgb(5, 57, 66);
}

/* Titulos */

.type-maker-title {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 6vh;
    font-size: 1.5em;
    background-color: rgb(5, 57, 66);
    margin-bottom: 5px;
}

.type-maker-title-column-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 1) 100%);
    border: 1px solid rgb(5, 57, 66);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.type-maker-title-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 1) 100%);
    border: 1px solid rgb(5, 57, 66);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Tipos */

.type-maker-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 8vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type-maker-column {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21%;
    border: 2px solid rgba(70, 194, 124, 1);
    border-radius: 60px;
}

.odd-row .type-maker-column {
    background-color: rgba(145, 170, 156, 0.5);
}

.even-row .type-maker-column {
    background-color: rgba(102, 175, 149, 0.5);
}

.type-maker-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.type-maker-selector img:hover {
    transform: scale(1.2);
    border: 2px solid rgb(5, 57, 66);
    z-index: 1;
}

.type-maker-selector img {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 12px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 45px;
    height: 45px;
    border-radius: 23px;
}

.type-maker-column-relation {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 39%;
    border: 1px solid rgb(5, 57, 66);
    border-radius: 7px;
}

.odd-row .type-maker-column-relation {
    background-color: rgba(145, 170, 156, 0.9);
}

.even-row .type-maker-column-relation {
    background-color: rgba(102, 175, 149, 0.9);
}

.immunity-relation img {
    border: black 2px solid;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
    background-color: black;
}

.super-relation img {
    border: rgb(145, 8, 8) 2px solid;
    box-shadow: 0 0px 12px rgba(145, 8, 8, 0.5);
    background-color: rgb(145, 8, 8);
}

.normal-relation img {
    border: rgb(255, 255, 255) 2px solid;
    box-shadow: 0 0px 12px rgba(255, 255, 255, 0.2);
    background-color: rgb(255, 255, 255);
}

/* Overview */

.type-maker-overview {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 18vh;
    margin-top: 5px;
    font-size: 1.5em;
    background-color: rgb(5, 57, 66);
}

.reset-types {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 57, 66);
    border: solid 2px rgba(255, 255, 255, 1);
    border-radius: 8px;
    width: 90px;
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;
}

.reset-types:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.type-maker-overview-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21%;
    border: 1px solid rgb(5, 57, 66);
    border-bottom-left-radius: 7px;
    background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 1) 100%);
}

.type-maker-overview-column-relation {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    align-content: flex-start;
    width: 39%;
    border: 1px solid rgb(5, 57, 66);
    border-radius: 7px;
    background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 0.9) 100%);
}

.overview-title {
    width: 100%;
    font-size: 0.7em;
    position: relative;
    top: 0;
    height: 2vh;
    margin-bottom: 1px;
}

.type-relation-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid rgb(5, 57, 66);
}

.type-relation-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 25px;
}

.type-relation-item img {
    width: 25px;
    height: 25px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 15px;
    margin-left: 2px;
}

.type-relation-item span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.5em;
}

.value-2 {
    color: rgb(236, 225, 122);
}
.value-3 {
    color: rgb(161, 82, 29);
}
.value-4 {
    color: rgb(194, 33, 33);
}

.bvalue-2 {
    background: rgb(236, 225, 122) ;
    border: 1px solid rgb(236, 225, 122) !important;
}
.bvalue-3 {
    background: rgb(161, 82, 29) ;
    border: 1px solid rgb(161, 82, 29) !important;
    font-weight: 600;
}
.bvalue-4 {
    background-color: rgb(194, 33, 33);
    border: 1px solid rgb(194, 33, 33) !important;
    font-weight: 600;
}

.type-no-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 5.8vh;
}

.type-no-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}

.type-no-item img {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 10px;
    margin-left: 2px;
}

/* Dropdown content  */

.type-dropdown-content {
    position: absolute;
    display: none;
    width: 215px;
    height: 175px;
    border: 2px solid rgb(5, 57, 66);
    border-radius: 5px;
    background-color: rgba(201, 216, 208, 0.95);
}

.type-dropdown-content.visible {
    display: flex;
    flex-wrap: wrap;
}

.type-maker-selector {
    cursor: pointer;
}

.type-dropdown-content img {
    width: 38px;
    height: 38px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: rgb(201, 216, 208);
    margin: 2px;
}

.type-dropdown-item img:hover {
    transform: scale(1.2);
    border: 2px solid rgb(5, 57, 66);
    z-index: 1;
}

@keyframes fadeInTopToBottomContainer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeInTopToBottomContainer 1s ease-in-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slideInFromLeft 0.3s ease-in-out
}

@media (max-width: 1250px) {

    .page-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 80vh;
        gap: 0;
    }


    /* Top  */
    .type-list-div {
        min-width: 100%;
        max-width: 100%;
        min-height: 15vh;
        max-height: 15vh;
        display: flex;
        flex-direction: row;
        border: rgb(5, 57, 66) 3px solid;
        background-color: rgba(145, 170, 156, 0.6);
    }

    .type-list-text {
        background-color: rgb(5, 57, 66);
        font-size: 1.2em;
        padding: 2px;
        height: 14.5vh;
        flex: 1;
    }

    .type-details-div {
        flex: 1;
        display: flex;
        flex-direction: row;
        height: 14.5vh;
    }

    .main-type-div {
        width: 120px;
    }

    .main-type-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 2.2vh;
        font-size: 1.3em;
        text-align: center;
        background-color: rgb(5, 57, 66);
        border: 2px solid rgb(5, 57, 66);
    }

    .main-type-title h4 {
        margin: 0;
    }

    .damage-relation-img {
        width: 20px;
        aspect-ratio: 1/1;
    }

    .main-type {
        width: 120px;
        height: 11vh;
        margin: 0px;
        border-right: 1px solid rgb(5, 57, 66);
    }

    .main-type img {
        width: 8vh;
        height: 8vh;
        border: 2px solid rgb(5, 57, 66);
        border-radius: 36px;
    }

    .selected-damage-relations {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        height: 14.4vh;
    }

    .damage-relation-item {
        width: 33.33%;
        height: 7.2vh;
    }

    .damage-relation-item-title {
        height: 2.2vh;
        font-size: 1em;
        width: 100%;
        border: 1px solid rgb(5, 57, 66);
    }

    .damage-relation-item-box {
        align-content: center;
        align-items: center;
        width: 100%;
        min-height: 0;
        height: 5vh;
        margin: 0;
        border: 0;
        border-right: 1px solid rgb(5, 57, 66);
    }

    .type-selected-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 6%;
        min-width: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .type-selected-item img {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        width: 20px;
        aspect-ratio: 1/1;
    }

    /* Bottom  */

    .type-maker-container {
        display: flex;
        justify-content: center;
        width: 100%;
        min-width: none;
        height: 65vh;
        max-height: 65vh;
    }

    .type-maker-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 65vh;
        max-height: 65vh;
        background-color: rgb(5, 57, 66);
        border: 3px solid rgb(5, 57, 66);
    }

    /* Titulos */

    .type-maker-title {
        height: 4vh;
        font-size: 1.3em;
        background-color: rgb(5, 57, 66);
        margin-bottom: 5px;
    }

    .type-maker-title-column-pokemon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21%;
        background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 1) 100%);
        border: 1px solid rgb(5, 57, 66);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .type-maker-title-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39%;
        background: radial-gradient(circle, rgba(19, 171, 117, 1) 50%, rgba(70, 194, 124, 1) 100%);
        border: 1px solid rgb(5, 57, 66);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    /* Tipos */

    .type-maker-row {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 7vh;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .type-maker-column {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 21%;
        border: 2px solid rgba(70, 194, 124, 1);
        border-radius: 60px;
    }

    .type-selected-item.normal-relation,
    .type-selected-item.super-relation,
    .type-selected-item.immunity-relation {
        height: 25px;
        width: 8%;
        min-width: 30px;
    }

    .type-selected-item.normal-relation img,
    .type-selected-item.super-relation img,
    .type-selected-item.immunity-relation img {
        border-radius: 20px;
        width: 25px;
        aspect-ratio: 1/1;
    }

    .immunity-relation img {
        border: black 2px solid;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
        background-color: black;
    }
    
    .super-relation img {
        border: rgb(145, 8, 8) 2px solid;
        box-shadow: 0 0px 12px rgba(145, 8, 8, 0.5);
        background-color: rgb(145, 8, 8);
    }
    
    .normal-relation img {
        border: rgb(255, 255, 255) 2px solid;
        box-shadow: 0 0px 12px rgba(255, 255, 255, 0.2);
        background-color: rgb(255, 255, 255);
    }

    .type-relation-item {
        width: 40px;
        height: 20px;
    }

    .type-relation-item img {
        width: 20px;
        height: 20px;
        border-radius: 15px;
        margin-left: 2px;
    }

    .type-relation-item span {
        font-size: 0.5em;
    }

}

@media only screen and (max-width: 600px) {

    .page-container {
        max-height: 73vh;
        min-height: 780px;
    }

    /* Top  */
    .type-list-div {
        min-height: 140px;
        max-height: 18vh;
    }

    .type-list-text {
        font-size: 1.4em;
        min-height: 135px;
        max-height: 18vh;
        flex: 1;
    }

    .type-details-div {
        min-height: 135px;
        max-height: 18vh;
    }

    .main-type-div {
        display: flex;
        flex-direction: column;
        min-height: 135px;
        max-height: 18vh;
        width: 110px;
    }

    .main-type-title {
        width: 110px;
        min-height: 24px;
        max-height: 2vh;
        font-size: 1.2em;
    }

    .main-type {
        width: 110px;
        flex: 1;
    }

    .main-type img {
        width: 8vh;
        height: 8vh;
    }

    .damage-relation-img {
        width: 20px;
        aspect-ratio: 1/1;
    }

    .selected-damage-relations {
        min-height: 135px;
        max-height: 18vh;
    }

    .damage-relation-item {
        min-height: 68px;
        max-height: 9vh;
    }

    .damage-relation-item-title {
        min-height: 24px;
        max-height: 2vh;
    }

    .damage-relation-item-box {
        min-height: 44px;
        max-height: 7vh;
    }

    .type-selected-item {
        height: 14px;
        width: 6%;
        min-width: 14px;
    }

    .type-selected-item img {
        border: rgb(255, 255, 255) 1px solid;
        width: 14px;
        aspect-ratio: 1/1;
    }

    /* Bottom  */

    .type-maker-container {
        min-height: 640px;
        max-height: 55vh;
    }

    .type-maker-div {
        min-height: 640px;
        max-height: 55vh;
    }

    /* Tipos */

    .type-maker-row {
        height: 7.5vh;
        min-height: 60px;
    }

    .type-maker-column {
        width: 21%;
        border: 2px solid rgba(70, 194, 124, 1);
        border-radius: 20px;
    }

    .type-maker-selector {
        width: 30px;
        height: 30px;
    }

    .type-maker-selector img {
        width: 30px;
        height: 30px;
    }

    .type-selected-item.normal-relation,
    .type-selected-item.super-relation,
    .type-selected-item.immunity-relation {
        height: 18px;
        width: 6%;
        min-width: 18px;
    }

    .type-selected-item.normal-relation img,
    .type-selected-item.super-relation img,
    .type-selected-item.immunity-relation img {
        border-radius: 18px;
        width: 18px;
        aspect-ratio: 1/1;
    }

    .immunity-relation img {
        border: black 1px solid;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
        background-color: black;
    }
    
    .super-relation img {
        border: rgb(145, 8, 8) 1px solid;
        box-shadow: 0 0px 12px rgba(145, 8, 8, 0.5);
        background-color: rgb(145, 8, 8);
    }
    
    .normal-relation img {
        border: rgb(255, 255, 255) 1px solid;
        box-shadow: 0 0px 12px rgba(255, 255, 255, 0.2);
        background-color: rgb(255, 255, 255);
    }

    /* Overview */

    .type-maker-overview {
        flex: 1;
        min-height: 150px;
    }

    .reset-types {
        width: 70px;
    }

    .overview-title {
        height: 1.5vh;
        margin-bottom: 1px;
    }

    .type-relation-box {
        width: 100%;
        min-height: auto;
        max-height: 8vh;

    }

    .type-relation-item {
        width: 23px;
        height: 20px;
        margin-right: 1px;
    }

    .type-relation-item img {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        margin-left: 0px ;
    }

    .type-relation-item span {
        font-size: 0.5em;
    }

    .type-no-box {
        height: 4vh;
    }

    .type-no-item {
        width: 17px;
        height: 17px;
    }

    .type-no-item img {
        width: 16px;
        height: 16px;
        margin-left: 2px;
    }
}